*.csv
*.sh
*.json
*.jpg
*.pth
*.pt
*/log/
*/result/
checkpoint/
output/
__pycache__/
*.log
*.out
pretrained/
*.tar
b1*/
deprecated/
data/csv/
data/json_original/
data/result_LAM/
data/result_TTM/
data/video_imgs/
data/wave/
